  .nav{
    padding:1% ;
  }
  .home img{
    margin: 5%;
    width: 50%;
    -webkit-transition: width 0.5s;
    border: 5px solid black;
    border-radius: 16px;
    box-shadow: 10px 15px 155px -14px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 15px 155px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 15px 155px -14px rgba(0,0,0,0.75);
  }
  .home{
    overflow-y: hidden;
    height: 100vh; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
  }
  .home img:hover{
    width: 60%;
    margin: 0;
    margin-top: 5%;
    -webkit-transition: width 0.5s;
    -webkit-transition-timing-function: ease-in-out;
  }
  
  