.Main{
    text-align: left;
    padding-bottom: 2%;
}
.alert-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  .alert-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }
  .alert-exit {
    opacity: 1;
  }
  .alert-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }
 .alert-primary{
     width: 96%;
     height: 92%;
     padding-bottom: 2%;
     margin: 2%;
 }
 .alert-primary img{
     width: 100%;
 }
  
 button.close{
     display: none;
 }